@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

:root {
  --cookie-confirm--background: #222;
  --cookie-confirm--fade-duration: 1s;
  --cookie-confirm--button-color: #ff594f;
  --cookie-confirm--button-text-color: #fff;
  --cookie-confirm--text-color: #fff;
  --cookie-confirm--link-color: #fff;
}

.cookie-confirm {
  position: fixed;
  display: flex;
  z-index: 999;
  -webkit-animation: cookie-confirm--fade var(--cookie-confirm--fade-duration); /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: cookie-confirm--fade var(--cookie-confirm--fade-duration); /* Firefox < 16 */
  -ms-animation: cookie-confirm--fade var(--cookie-confirm--fade-duration); /* Internet Explorer */
  -o-animation: cookie-confirm--fade var(--cookie-confirm--fade-duration); /* Opera < 12.1 */
  animation: cookie-confirm--fade var(--cookie-confirm--fade-duration);

  * {
    font-family: "Roboto";
  }

  & > &--text {
    p {
      color: var(--cookie-confirm--text-color);
      margin: 0;
      font-size: 16px;
      line-height: 1.5;
    }
    a {
      color: var(--cookie-confirm--link-color);
      margin: 0 0 0 10px;
      text-decoration: underline;
      font-size: 16px;
      line-height: 1.5;
    }
  }
  & > &--buttons {
    button {
      all: unset;
      background-color: var(--cookie-confirm--button-color);
      color: var(--cookie-confirm--button-text-color);
      height: 100%;
      font-weight: 700;
      padding: 0 .8em;
      cursor: pointer;
      transition: opacity 200ms ease-out;
      font-size: 16px;
      line-height: 1.5;
      
      &:hover {
        opacity: 0.8;
      }
    }
  }

  // Banner
  &--banner {
    height: 72px;
    background-color: var(--cookie-confirm--background);

    // Banner Positioning
    &.cookie-confirm--top {
      top: 0;
      left: 0;
      right: 0;
    }

    &.cookie-confirm--bottom {
      bottom: 0;
      left: 0;
      right: 0;
    }

    // Banner Stylings
    &.cookie-confirm--block {
      flex-direction: row;
      padding: 1em 1.8em;
      .cookie-confirm--text {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
    &.cookie-confirm--rounded {
      flex-direction: row;
      padding: 1em 1.8em;
      .cookie-confirm--text {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      button {
        border-radius: 1000px!important;
        padding: 0 1.8em!important;
      }
    }
    &.cookie-confirm--edgeless {
      flex-direction: row;
      padding: 1em 1.8em;
      .cookie-confirm--text {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .cookie-confirm--button {
        margin: -1em -1.8em;
        button {
          padding: 0 1.8em;
        }
      }
    }
  }

  // Floating
  &--floating {
    max-width: 24em;
    background-color: var(--cookie-confirm--background);

    // Positioning
    &.cookie-confirm--top-left {
      top: 1em;
      left: 1em;
    }

    &.cookie-confirm--top-right {
      top: 1em;
      right: 1em;
    }

    &.cookie-confirm--bottom-left {
      bottom: 1em;
      left: 1em;
    }

    &.cookie-confirm--bottom-right {
      bottom: 1em;
      right: 1em;
    }

    //Stylings
    &.cookie-confirm--block {
      flex-direction: column;
      padding: 1.8em;
      .cookie-confirm--text {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        a {
          margin-left: 0;
          margin-top: 10px;
        }
      }

      .cookie-confirm--button button {
        width: calc(100% - 1.6em);
        padding: 0.8em .8em;
        text-align: center;
        margin-top: 1.8em;
      }
    }
    &.cookie-confirm--edgeless {
      flex-direction: column;
      padding: 1.8em 1.8em 0;
      .cookie-confirm--text {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        a {
          margin-left: 0;
          margin-top: 10px;
        }
      }

      .cookie-confirm--button button {
        width: calc(100% + 2em);
        margin-left: -1.8em;
        padding: 0.8em .8em;
        text-align: center;
        margin-top: 1.8em;
      }
    }
  }
}

@keyframes cookie-confirm--fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes cookie-confirm--fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes cookie-confirm--fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes cookie-confirm--fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes cookie-confirm--fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}